<wm-page data-ng-controller="joiningDetailsPageController" pagetitle="Joining Details" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-livegrid name="livegrid1" service="WMSTUDIO@JoiningDetails">
                <wm-livefilter title="Filter JOINING DETAILS" dataset="bind:Variables.WMSTUDIOJoiningDetailsData.dataSet" captionalign="left" captionposition="top" name="livefilter1">
                    <wm-layoutgrid name="layoutgrid1">
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn1">
                                <wm-filter-field name="users" field="users" displayname="Users" placeholder="Enter Value" max-placeholder="undefined" widget="number" lookup-type="Users" lookup-field="userId" is-related="true" related-entity-name="Users" is-range="true"
                                type="integer" is-primary-key="true" generator="assigned" show="true" pc-display="true" mobile-display="true" inputtype="number" primary-key="false" key="users"></wm-filter-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn2">
                                <wm-filter-field name="timecol" field="timecol" displayname="Timecol" placeholder="Enter Value" max-placeholder="undefined" widget="datetime" is-range="true" type="datetime" is-primary-key="false" generator="assigned" show="true"
                                pc-display="true" mobile-display="true" primary-key="false" is-related="false" key="timecol"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow2">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn3">
                                <wm-filter-field name="salaryDetails" field="salaryDetails" displayname="Salary Details" widget="text" lookup-type="SalaryDetails" lookup-field="salId" is-related="true" related-entity-name="SalaryDetails" is-range="false"
                                type="string" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true" inputtype="text" primary-key="false" key="salaryDetails" placeholder="Enter value" matchmode="start"></wm-filter-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn4">
                                <wm-filter-field name="timestampCol" field="timestampCol" displayname="Timestamp Col" placeholder="Enter Value" max-placeholder="undefined" widget="timestamp" is-range="true" type="timestamp" is-primary-key="false" generator="assigned"
                                show="true" pc-display="true" mobile-display="true" primary-key="false" is-related="false" key="timestampCol"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow3">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn5">
                                <wm-filter-field name="userDetails" field="userDetails" displayname="User Details" placeholder="Enter Value" max-placeholder="undefined" widget="number" lookup-type="UserDetails" lookup-field="userDetaId" is-related="true"
                                related-entity-name="UserDetails" is-range="true" type="integer" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true" inputtype="number" primary-key="false" key="userDetails"></wm-filter-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn6">
                                <wm-filter-field name="workTime" field="workTime" displayname="Work Time" placeholder="Enter Value" max-placeholder="undefined" widget="datetime" is-range="true" type="datetime" is-primary-key="false" generator="assigned" show="true"
                                pc-display="true" mobile-display="true" primary-key="false" is-related="false" key="workTime"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow4">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn7">
                                <wm-filter-field name="dateJoined" field="dateJoined" displayname="Date Joined" placeholder="Enter Value" max-placeholder="undefined" widget="datetime" is-range="true" type="datetime" is-primary-key="false" generator="assigned"
                                show="true" pc-display="true" mobile-display="true" primary-key="false" is-related="false" key="dateJoined"></wm-filter-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn8">
                                <wm-filter-field name="byteCol" field="byteCol" displayname="Byte Col" placeholder="Enter Value" max-placeholder="undefined" widget="number" is-range="true" type="byte" is-primary-key="false" generator="assigned" show="true"
                                pc-display="true" mobile-display="true" inputtype="number" primary-key="false" is-related="false" key="byteCol"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow5">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn9">
                                <wm-filter-field name="datetimeJoined" field="datetimeJoined" displayname="Datetime Joined" placeholder="Enter Value" max-placeholder="undefined" widget="datetime" is-range="true" type="datetime" is-primary-key="false" generator="assigned"
                                show="true" pc-display="true" mobile-display="true" primary-key="false" is-related="false" key="datetimeJoined"></wm-filter-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn10">
                                <wm-filter-field name="field" field="field" displayname="Field" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true" inputtype="text" primary-key="false"
                                is-related="false" key="field" placeholder="Enter value" matchmode="start"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow6">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn11">
                                <wm-filter-field name="startupSal" field="startupSal" displayname="Startup Sal" placeholder="Enter Value" max-placeholder="undefined" widget="number" is-range="true" type="double" is-primary-key="false" generator="assigned"
                                show="true" pc-display="true" mobile-display="true" inputtype="number" primary-key="false" is-related="false" key="startupSal"></wm-filter-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn12">
                                <wm-filter-field name="shortCol" field="shortCol" displayname="Short Col" placeholder="Enter Value" max-placeholder="undefined" widget="number" is-range="true" type="short" is-primary-key="false" generator="assigned" show="true"
                                pc-display="true" mobile-display="true" inputtype="number" primary-key="false" is-related="false" key="shortCol"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow7">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn13">
                                <wm-filter-field name="hike" field="hike" displayname="Hike" placeholder="Enter Value" max-placeholder="undefined" widget="number" is-range="true" type="float" is-primary-key="false" generator="assigned" show="true" pc-display="true"
                                mobile-display="true" inputtype="number" primary-key="false" is-related="false" key="hike"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-filter-action key="filter" display-name="Filter" show="true" class="btn-primary" iconclass="wi wi-filter-list" action="filter()" type="button"></wm-filter-action>
                    <wm-filter-action key="clear" display-name="Clear" show="true" class="btn" iconclass="wi wi-cancel" action="clearFilter()" type="button"></wm-filter-action>
                </wm-livefilter>
                <wm-grid gridfirstrowselect="true" deleterow="true" updaterow="true" insertrow="true" readonlygrid="false" title="JOINING DETAILS List" dataset="bind:Widgets.livefilter1.result" navigation="Basic" name="grid1">
                    <wm-grid-column binding="hike" caption="Hike" type="float" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="users.userName" caption="Users User Name" type="string" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="salaryDetails.userSal" caption="Salary Details User Sal" type="big_decimal" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="salaryDetails.noOfWorkingDays" caption="Salary Details No Of Working Days" type="big_integer" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="salaryDetails.salId" caption="Salary Details Sal Id" type="string" generator="assigned" is-related-pk="true" pcdisplay="true" mobiledisplay="true" readonly="undefined"></wm-grid-column>
                    <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" action="addNewRow()"></wm-grid-action>
                </wm-grid>
                <wm-liveform novalidate="false" title="JOINING DETAILS Info" formlayout="inline" dataset="bind:Variables.WMSTUDIOJoiningDetailsData.dataSet" captionalign="left" captionposition="top" name="liveform1">
                    <wm-layoutgrid name="layoutgrid2">
                        <wm-gridrow name="gridrow8">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn14">
                                <wm-form-field name="dateJoined" displayname="Date Joined" required="false" show="true" generator="assigned" primary-key="false" key="dateJoined" type="datetime" is-related="false" pc-display="true" mobile-display="true" widget="datetime"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow9">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn15">
                                <wm-form-field name="datetimeJoined" displayname="Datetime Joined" required="false" show="true" generator="assigned" primary-key="false" key="datetimeJoined" type="datetime" is-related="false" pc-display="true" mobile-display="true"
                                widget="datetime"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow10">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn16">
                                <wm-form-field name="startupSal" displayname="Startup Sal" required="false" show="true" generator="assigned" primary-key="false" key="startupSal" type="double" is-related="false" step="1e-8" pc-display="true" mobile-display="true"
                                widget="number"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow11">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn17">
                                <wm-form-field name="hike" displayname="Hike" required="false" show="true" generator="assigned" primary-key="false" key="hike" type="float" is-related="false" step="0.0001" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow12">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn18">
                                <wm-form-field name="timecol" displayname="Timecol" required="false" show="true" generator="assigned" primary-key="false" key="timecol" type="datetime" is-related="false" pc-display="true" mobile-display="true" widget="datetime"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow13">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn19">
                                <wm-form-field name="timestampCol" displayname="Timestamp Col" required="false" show="true" generator="assigned" primary-key="false" key="timestampCol" type="timestamp" is-related="false" pc-display="true" mobile-display="true"
                                widget="timestamp"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow14">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn20">
                                <wm-form-field name="workTime" displayname="Work Time" required="false" show="true" generator="assigned" primary-key="false" key="workTime" type="datetime" is-related="false" pc-display="true" mobile-display="true" widget="datetime"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow15">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn21">
                                <wm-form-field name="byteCol" displayname="Byte Col" required="false" show="true" generator="assigned" primary-key="false" key="byteCol" type="byte" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow16">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn22">
                                <wm-form-field name="field" displayname="Field" required="false" show="true" generator="assigned" primary-key="false" key="field" type="string" is-related="false" maxchars="20" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow17">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn23">
                                <wm-form-field name="shortCol" displayname="Short Col" required="false" show="true" generator="assigned" primary-key="false" key="shortCol" type="short" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow18">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn24">
                                <wm-form-field name="users" displayname="Users" required="true" show="true" generator="assigned" primary-key="true" key="users" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn25">
                                <wm-form-field name="salaryDetails" displayname="Salary Details" required="true" show="true" generator="assigned" primary-key="false" key="salaryDetails" type="list" is-related="true" maxchars="255" pc-display="true" mobile-display="true"
                                widget="select"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow19">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn26">
                                <wm-form-field name="userDetails" displayname="User Details" required="false" show="true" generator="assigned" primary-key="false" key="userDetails" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow20"></wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                    <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livegrid>
            <wm-grid readonlygrid="true" title="JOINING DETAILS List" dataset="bind:Variables.WMSTUDIOJoiningDetailsData.dataSet" navigation="Basic" name="grid2" gridsearch="true">
                <wm-grid-column binding="dateJoined" caption="Date Joined" type="datetime" width="px" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                <wm-grid-column binding="datetimeJoined" caption="Datetime Joined" type="datetime" width="px" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                <wm-grid-column binding="startupSal" caption="Startup Sal" type="double" width="px" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                <wm-grid-column binding="hike" caption="Hike" type="float" width="px" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                <wm-grid-column binding="timecol" caption="Timecol" type="datetime" width="px" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                <wm-grid-column binding="timestampCol" caption="Timestamp Col" type="timestamp" width="px" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                <wm-grid-column binding="workTime" caption="Work Time" type="datetime" width="px" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                <wm-grid-column binding="byteCol" caption="Byte Col" type="byte" width="px" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                <wm-grid-column binding="field" caption="Field" type="string" width="px" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                <wm-grid-column binding="shortCol" caption="Short Col" type="short" width="px" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
            </wm-grid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>