<wm-partial data-ng-controller="leftnavPageController" name="leftnav" type="leftnav">
    <wm-nav name="leftnav" type="pills" layout="stacked">
        <wm-nav-item name="list_latestUpdate">
            <wm-anchor caption="User Details" name="dashboardLink" iconclass="glyphicon glyphicon-dashboard" on-click="goToPage_Userdetails"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_inTheNews">
            <wm-anchor caption="Salary Details" name="porderLink" iconclass="glyphicon glyphicon-file" on-click="goToPage_salaryDetails"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_share">
            <wm-anchor caption="Joining details" name="inventoryLink" iconclass="glyphicon glyphicon-tags" on-click="goToPage_joiningDetails"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_help">
            <wm-anchor caption="All types" name="supportLink" iconclass="glyphicon glyphicon-envelope" on-click="goToPage_alltypes"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item5">
            <wm-anchor name="anchor5" iconclass="wi wi-file" caption="PartialCompParent" on-click="goToPage_CompParent"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item6">
            <wm-popover popoverwidth="50%" popoverheight="70%" name="popover1" iconclass="wi wi-file" caption="PopOver Comp Child" content="CompChild"></wm-popover>
        </wm-nav-item>
        <wm-nav-item name="nav_item7">
            <wm-button class="btn-default" caption="VirtualParent" type="button" name="button1" iconclass="wi wi-file" color="#f9f7f7" on-click="goToPage_PopoverVirtualParent"></wm-button>
        </wm-nav-item>
        <wm-nav-item name="nav_item8">
            <wm-button class="btn-default" caption="Virtual Child" type="button" name="button2" iconclass="wi wi-file" color="#f7eaea" on-click="goToPage_ParDiaVirtualChild"></wm-button>
        </wm-nav-item>
        <wm-nav-item name="nav_item9">
            <wm-anchor name="anchor6" iconclass="wi wi-file" caption="CompKeysMul" on-click="goToPage_CompKeysMulPage"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item10"></wm-nav-item>
        <wm-nav-item name="nav_item11"></wm-nav-item>
        <wm-nav-item name="nav_item12">
            <wm-anchor name="anchor7" iconclass="wi wi-file" caption="GridWithLiveList" on-click="goToPage_GridWithLiveList"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item13">
            <wm-anchor name="anchor8" iconclass="wi wi-file" caption="GridWithGrid" on-click="goToPage_gridWithGrid"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item14">
            <wm-anchor name="anchor9" iconclass="wi wi-file" caption="LiveListWithGrid" on-click="goToPage_LiveListWithGrid"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="nav_item15">
            <wm-anchor name="anchor10" iconclass="wi wi-file" caption="LiveListWithLiveList" on-click="goToPage_LiveListWithLiveList"></wm-anchor>
        </wm-nav-item>
    </wm-nav>
</wm-partial>