<wm-page data-ng-controller="GridWithLiveListPageController" pagetitle="Grid With Live List" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-grid readonlygrid="false" insertrow="true" updaterow="true" deleterow="true" title="ALL TYPES List" dataset="bind:Variables.WMSTUDIOAllTypesData.dataSet" navigation="Basic" name="grid1" radioselect="false" gridsearch="false" multiselect="true">
                <wm-grid-column binding="id" caption="Id" type="integer" width="px" primary-key="true" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="stringCol" caption="String Col" type="string" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="longCol" caption="Long Col" type="long" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="shortCol" caption="Short Col" type="short" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="textCol" caption="Text Col" type="clob" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="dateCol" caption="Date Col" type="datetime" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="datetimeCol" caption="Datetime Col" type="datetime" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="timeCol" caption="Time Col" type="datetime" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="timestampCol" caption="Timestamp Col" type="timestamp" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="blobCol" caption="Blob Col" type="blob" widget-type="image" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"><img width="48px" class="" data-ng-src="{{contentBaseUrl + row[primaryKey] + '/content/'+ colDef.field}}">
                </wm-grid-column>
                <wm-grid-column binding="booleanCol" caption="Boolean Col" type="boolean" widget-type="checkbox" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false">
                    <input type="checkbox" ng-model="row.booleanCol" ng-disabled="{{colDef.readonly || !isGridEditMode}}" class="" data-ng-class="">
                </wm-grid-column>
                <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" action="addNewRow()"></wm-grid-action>
            </wm-grid>
            <wm-livelist listclass="list-group" itemclass="list-group-item" template="true" dataset="bind:Widgets.grid1.selecteditem" navigation="Inline" name="livelist2" groupby="id" selectionlimit="3" showrecordcount="true">
                <wm-listtemplate layout="blank" name="listtemplate2">
                    <wm-container class="blank" data-template-ctr="true" name="container1">
                        <wm-layoutgrid class="gridlayout" name="layoutgrid1">
                            <wm-gridrow name="gridrow1">
                                <wm-gridcolumn class="col-xs-6" columnwidth="1" name="gridcolumn1">
                                    <wm-label width="100%" caption="bind:Widgets.grid1.selecteditem.id" name="label15"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn class="col-xs-6" columnwidth="1" name="gridcolumn2">
                                    <wm-label width="100%" caption="bind:Widgets.grid1.selecteditem.stringCol" name="label16"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn class="col-xs-6" columnwidth="1" name="gridcolumn3">
                                    <wm-label width="100%" caption="bind:Widgets.grid1.selecteditem.longCol" name="label17"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn class="col-xs-6" columnwidth="1" name="gridcolumn4">
                                    <wm-label width="100%" caption="bind:Widgets.grid1.selecteditem.shortCol" name="label18"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn class="col-xs-6" columnwidth="1" name="gridcolumn5">
                                    <wm-label width="100%" caption="bind:Widgets.grid1.selecteditem.bigInteger" name="label19"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn class="col-xs-6" columnwidth="1" name="gridcolumn6">
                                    <wm-label width="100%" caption="bind:Widgets.grid1.selecteditem.bigDecimal" name="label20"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn class="col-xs-6" columnwidth="1" name="gridcolumn7">
                                    <wm-label width="100%" caption="bind:Widgets.grid1.selecteditem.floatCol" name="label21"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn class="col-xs-6" columnwidth="1" name="gridcolumn8">
                                    <wm-label width="100%" caption="bind:Widgets.grid1.selecteditem.doubleCol" name="label22"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn class="col-xs-6" columnwidth="1" name="gridcolumn9">
                                    <wm-label width="100%" caption="bind:Widgets.grid1.selecteditem.byteCol" name="label23"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn class="col-xs-6" columnwidth="1" name="gridcolumn10">
                                    <wm-label width="100%" caption="bind:Widgets.grid1.selecteditem.clobCol" name="label24"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn class="col-xs-6" columnwidth="1" name="gridcolumn11">
                                    <wm-label width="100%" caption="bind:Widgets.grid1.selecteditem.textCol" name="label25"></wm-label>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                    </wm-container>
                </wm-listtemplate>
            </wm-livelist>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>