<wm-page data-ng-controller="gridWithGridPageController" pagetitle="Grid With Grid" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-grid readonlygrid="false" insertrow="true" updaterow="true" deleterow="true" title="USERS List" dataset="bind:Variables.WMSTUDIOUsersData.dataSet" navigation="Basic" name="grid1" radioselect="false" multiselect="true">
                <wm-grid-column binding="userId" caption="User Id" type="integer" width="px" primary-key="true" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="userName" caption="User Name" type="string" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="password" caption="Password" type="string" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                <wm-grid-column binding="role" caption="Role" type="character" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                <wm-grid-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()"></wm-grid-action>
            </wm-grid>
            <wm-grid readonlygrid="true" dataset="bind:Widgets.grid1.selecteditem" navigation="Basic" name="grid2">
                <wm-grid-column binding="userId" caption="User Id" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true" readonly="true"></wm-grid-column>
                <wm-grid-column binding="userName" caption="User Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" readonly="true"></wm-grid-column>
                <wm-grid-column binding="password" caption="Password" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" readonly="true"></wm-grid-column>
                <wm-grid-column binding="role" caption="Role" generator="assigned" pcdisplay="true" mobiledisplay="true" type="character" readonly="true"></wm-grid-column>
            </wm-grid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>