<wm-page data-ng-controller="LiveListWithLiveListPageController" pagetitle="Live List With Live List" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-livelist listclass="list-group" itemclass="list-group-item" template="true" navigation="Advanced" name="livelist1" selectfirstitem="true" selectionlimit="2" groupby="column3" dataset="bind:Variables.WMSTUDIOVirtualParentData.dataSet">
                <wm-listtemplate layout="blank" name="listtemplate1">
                    <wm-container class="blank" data-template-ctr="true" name="container1">
                        <wm-layoutgrid class="gridlayout" name="layoutgrid1">
                            <wm-gridrow name="gridrow1">
                                <wm-gridcolumn class="col-xs-6" columnwidth="1" name="gridcolumn1">
                                    <wm-label width="100%" caption="bind:Variables.WMSTUDIOVirtualParentData.dataSet.id" name="label1"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn class="col-xs-6" columnwidth="1" name="gridcolumn2">
                                    <wm-label width="100%" caption="bind:Variables.WMSTUDIOVirtualParentData.dataSet.column2" name="label2"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn class="col-xs-6" columnwidth="1" name="gridcolumn3">
                                    <wm-label width="100%" caption="bind:Variables.WMSTUDIOVirtualParentData.dataSet.column3" name="label3"></wm-label>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                    </wm-container>
                </wm-listtemplate>
            </wm-livelist>
            <wm-livelist listclass="list-group" itemclass="list-group-item" template="true" navigation="Scroll" name="livelist2" showrecordcount="true" selectionlimit="1" dataset="bind:Widgets.livelist1.selecteditem" groupby="column3">
                <wm-listtemplate layout="blank" name="listtemplate2">
                    <wm-container class="blank" data-template-ctr="true" name="container2">
                        <wm-layoutgrid class="gridlayout" name="layoutgrid2">
                            <wm-gridrow name="gridrow2">
                                <wm-gridcolumn class="col-xs-6" columnwidth="1" name="gridcolumn4">
                                    <wm-label width="100%" caption="bind:Widgets.livelist1.selecteditem.id" name="label4"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn class="col-xs-6" columnwidth="1" name="gridcolumn5">
                                    <wm-label width="100%" caption="bind:Widgets.livelist1.selecteditem.column2" name="label5"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn class="col-xs-6" columnwidth="1" name="gridcolumn6">
                                    <wm-label width="100%" caption="bind:Widgets.livelist1.selecteditem.column3" name="label6"></wm-label>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                    </wm-container>
                </wm-listtemplate>
            </wm-livelist>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>