<wm-page data-ng-controller="UserdetailsPageController" pagetitle="Userdetails" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-livegrid name="livegrid1" service="WMSTUDIO@UserDetails">
                <wm-livefilter title="Filter USER DETAILS" dataset="bind:Variables.WMSTUDIOUserDetailsData.dataSet" captionalign="center" captionposition="left" name="livefilter1" collapsible="true">
                    <wm-layoutgrid name="layoutgrid1">
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn1">
                                <wm-filter-field name="users" field="users" displayname="Users" widget="text" lookup-type="Users" lookup-field="userName" is-related="true" related-entity-name="Users" is-range="false" type="string" is-primary-key="false" generator="assigned"
                                show="true" pc-display="true" mobile-display="false" primary-key="false" key="users" placeholder="Enter value" datafield="key" displayfield="value" matchmode="end" inputtype="text"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow2">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn2">
                                <wm-filter-field name="userDetaId" field="userDetaId" displayname="User Deta Id" widget="number" is-range="false" type="integer" is-primary-key="true" generator="assigned" show="true" pc-display="true" mobile-display="true"
                                inputtype="number" primary-key="false" is-related="false" key="userDetaId" placeholder="Enter value" filter-on="[object Object]"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-filter-action key="filter" display-name="Filter" show="true" class="btn-primary" iconclass="wi wi-filter-list" action="filter()" type="button"></wm-filter-action>
                    <wm-filter-action key="clear" display-name="Clear" show="true" class="btn" iconclass="wi wi-cancel" action="clearFilter()" type="button"></wm-filter-action>
                </wm-livefilter>
                <wm-grid gridfirstrowselect="true" deleterow="true" updaterow="true" insertrow="true" readonlygrid="false" title="USER DETAILS List" dataset="bind:Widgets.livefilter1.result" navigation="Basic" name="grid1">
                    <wm-grid-column binding="userDetaId" caption="User Deta Id" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true"></wm-grid-column>
                    <wm-grid-column binding="userPic" widget-type="image" caption="User Pic" generator="assigned" pcdisplay="true" mobiledisplay="true" type="blob"><img width="48px" class="" data-ng-src="{{contentBaseUrl + row[primaryKey] + '/content/'+ colDef.field}}">
                    </wm-grid-column>
                    <wm-grid-column binding="userAddr" caption="User Addr" generator="assigned" pcdisplay="true" mobiledisplay="true" type="clob"></wm-grid-column>
                    <wm-grid-column binding="users.userId" caption="Users User Id" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true"></wm-grid-column>
                    <wm-grid-column binding="users.userName" caption="Users User Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                    <wm-grid-column binding="users.password" caption="Users Password" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                    <wm-grid-column binding="users.role" caption="Users Role" generator="assigned" pcdisplay="true" mobiledisplay="true" type="character"></wm-grid-column>
                </wm-grid>
                <wm-liveform novalidate="false" title="USER DETAILS Info" formlayout="inline" dataset="bind:Variables.WMSTUDIOUserDetailsData.dataSet" captionalign="left" captionposition="top" name="liveform1">
                    <wm-layoutgrid name="layoutgrid2">
                        <wm-gridrow name="gridrow3">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn3">
                                <wm-form-field name="userDetaId" displayname="User Deta Id" show="true" primary-key="true" generator="assigned" key="userDetaId" type="integer" is-related="false" required="required" pc-display="true" mobile-display="true"
                                step="0" widget="number" inputtype="number" regexp=".*" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn4">
                                <wm-form-field name="userPic" displayname="User Pic" show="true" primary-key="false" generator="assigned" key="userPic" type="blob" is-related="false" pc-display="true" mobile-display="true" widget="upload" maxchars="255" regexp=".*"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn5">
                                <wm-form-field name="userAddr" displayname="User Addr" show="true" primary-key="false" generator="assigned" key="userAddr" type="clob" is-related="false" pc-display="true" mobile-display="true" widget="text" maxchars="2147483647"
                                inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow4">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn7">
                                <wm-form-field name="users" displayname="Users" show="true" primary-key="false" generator="assigned" key="users" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select" regexp=".*" placeholder="Select value"
                                orderby="userName:asc,userId:asc" displayexpression="userId + ' ' + userName"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" type="button" update-mode="true"></wm-form-action>
                    <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" type="submit" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livegrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>