<wm-partial data-ng-controller="CompParentPageController" name="partial1">
    <wm-livegrid name="livegrid1" service="WMSTUDIO@CompParent">
        <wm-livefilter title="Filter COMP PARENT" dataset="bind:Variables.WMSTUDIOCompParentData.dataSet" captionalign="left" captionposition="top" name="livefilter1">
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow1">
                    <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn1">
                        <wm-filter-field name="id" field="id" displayname="Id" widget="number" is-range="false" type="integer" is-primary-key="true" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn2">
                        <wm-filter-field name="column3" field="column3" displayname="Column3" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow2">
                    <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn3">
                        <wm-filter-field name="column2" field="column2" displayname="Column2" widget="text" is-range="false" type="string" is-primary-key="true" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-filter-action key="filter" class="btn-primary" iconclass="wi wi-filter-list" action="filter()" display-name="Filter" show="true" type="button"></wm-filter-action>
            <wm-filter-action key="clear" class="btn" iconclass="wi wi-cancel" action="clearFilter()" display-name="Clear" show="true" type="button"></wm-filter-action>
        </wm-livefilter>
        <wm-grid gridfirstrowselect="true" deleterow="true" updaterow="true" insertrow="true" readonlygrid="false" title="COMP PARENT List" dataset="bind:Widgets.livefilter1.result" navigation="Basic" name="grid1">
            <wm-grid-column binding="id" caption="Id" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true"></wm-grid-column>
            <wm-grid-column binding="column2" caption="Column2" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" primary-key="true"></wm-grid-column>
            <wm-grid-column binding="column3" caption="Column3" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
        </wm-grid>
        <wm-liveform novalidate="false" title="COMP PARENT Info" formlayout="inline" dataset="bind:Variables.WMSTUDIOCompParentData.dataSet" captionalign="left" captionposition="top" name="liveform1">
            <wm-layoutgrid name="layoutgrid2">
                <wm-gridrow name="gridrow3">
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn4">
                        <wm-form-field name="id" displayname="Id" required="true" show="true" generator="assigned" primary-key="true" key="id" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn5">
                        <wm-form-field name="column2" displayname="Column2" required="true" show="true" generator="assigned" primary-key="true" key="column2" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn6">
                        <wm-form-field name="column3" displayname="Column3" required="false" show="true" generator="assigned" primary-key="false" key="column3" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow4">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn7"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow5"></wm-gridrow>
            </wm-layoutgrid>
            <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
            <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
        </wm-liveform>
    </wm-livegrid>
</wm-partial>