<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel columnwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
        <wm-page-content columnwidth="8" paddingleft="15" paddingright="15" name="mainContent">
            <wm-button class="btn-default" caption="VirtualChildParpageDialog" type="button" name="button1" on-click="pagedialog1.show"></wm-button>
            <wm-popover popoverwidth="50%" popoverheight="50%" name="popover1" caption="PopoverPartial" content="CompKeysMulPar"></wm-popover>
            <wm-livegrid name="livegrid2" service="WMSTUDIO@Users">
                <wm-livefilter title="Filter USERS" dataset="bind:Variables.WMSTUDIOUsersData.dataSet" captionalign="left" captionposition="top" name="livefilter2">
                    <wm-layoutgrid name="layoutgrid3">
                        <wm-gridrow name="gridrow6">
                            <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn9">
                                <wm-filter-field name="userId" field="userId" displayname="User Id" widget="number" is-range="false" type="integer" is-primary-key="true" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn10">
                                <wm-filter-field name="password" field="password" displayname="Password" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow7">
                            <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn11">
                                <wm-filter-field name="userName" field="userName" displayname="User Name" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn12">
                                <wm-filter-field name="role" field="role" displayname="Role" widget="text" is-range="false" type="character" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-filter-action key="filter" class="btn-primary" iconclass="wi wi-filter-list" action="filter()" display-name="Filter" show="true" type="button"></wm-filter-action>
                    <wm-filter-action key="clear" class="btn" iconclass="wi wi-cancel" action="clearFilter()" display-name="Clear" show="true" type="button"></wm-filter-action>
                </wm-livefilter>
                <wm-grid gridfirstrowselect="true" deleterow="true" updaterow="true" insertrow="true" readonlygrid="false" title="USERS List" dataset="bind:Widgets.livefilter2.result" navigation="Basic" name="grid2">
                    <wm-grid-column binding="userId" caption="User Id" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true"></wm-grid-column>
                    <wm-grid-column binding="userName" caption="User Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                    <wm-grid-column binding="password" caption="Password" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                    <wm-grid-column binding="role" caption="Role" generator="assigned" pcdisplay="true" mobiledisplay="true" type="character"></wm-grid-column>
                </wm-grid>
                <wm-liveform novalidate="false" title="USERS Info" formlayout="inline" dataset="bind:Variables.WMSTUDIOUsersData.dataSet" captionalign="left" captionposition="top" name="liveform2">
                    <wm-layoutgrid name="layoutgrid4">
                        <wm-gridrow name="gridrow8">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn13">
                                <wm-form-field name="userId" displayname="User Id" required="true" show="true" generator="assigned" primary-key="true" key="userId" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn14">
                                <wm-form-field name="userName" displayname="User Name" required="false" show="true" generator="assigned" primary-key="false" key="userName" type="string" is-related="false" maxchars="255" defaultvalue="defaultUsername" pc-display="true"
                                mobile-display="true" widget="text"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow9">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn15">
                                <wm-form-field name="password" displayname="Password" required="false" show="true" generator="assigned" primary-key="false" key="password" type="string" is-related="false" maxchars="255" defaultvalue="DefPwd" pc-display="true"
                                mobile-display="true" widget="text"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow10">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn16">
                                <wm-form-field name="role" displayname="Role" required="false" show="true" generator="assigned" primary-key="false" key="role" type="character" is-related="false" maxchars="1" defaultvalue="D" pc-display="true" mobile-display="true"
                                widget="text"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow11"></wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                    <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livegrid>
            <wm-livegrid name="livegrid3" service="replicateissue@Currentproperties">
                <wm-livefilter title="Filter currentproperties" dataset="bind:Variables.ReplicateissueCurrentpropertiesData.dataSet" captionalign="left" captionposition="top" name="livefilter3">
                    <wm-layoutgrid name="layoutgrid5">
                        <wm-gridrow name="gridrow15">
                            <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn19">
                                <wm-filter-field name="iduser" field="iduser" displayname="Iduser" widget="number" is-range="false" type="integer" is-primary-key="true" generator="identity" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn20">
                                <wm-filter-field name="currenttime" field="currenttime" displayname="Currenttime" widget="time" is-range="false" type="time" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow16">
                            <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn21">
                                <wm-filter-field name="currentusername" field="currentusername" displayname="Currentusername" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn22">
                                <wm-filter-field name="currentdate" field="currentdate" displayname="Currentdate" widget="date" is-range="false" type="date" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow17">
                            <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn23">
                                <wm-filter-field name="currentuseridcol" field="currentuseridcol" displayname="Currentuseridcol" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-filter-action key="filter" class="btn-primary" iconclass="wi wi-filter-list" action="filter()" display-name="Filter" show="true" type="button"></wm-filter-action>
                    <wm-filter-action key="clear" class="btn" iconclass="wi wi-cancel" action="clearFilter()" display-name="Clear" show="true" type="button"></wm-filter-action>
                </wm-livefilter>
                <wm-grid gridfirstrowselect="true" deleterow="true" updaterow="true" insertrow="true" readonlygrid="false" title="currentproperties List" dataset="bind:Widgets.livefilter3.result" navigation="Basic" name="grid3">
                    <wm-grid-column binding="iduser" caption="Iduser" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true"></wm-grid-column>
                    <wm-grid-column binding="currentusername" caption="Currentusername" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                    <wm-grid-column binding="currentuseridcol" caption="Currentuseridcol" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                    <wm-grid-column binding="currenttime" caption="Currenttime" generator="assigned" pcdisplay="true" mobiledisplay="true" type="time"></wm-grid-column>
                    <wm-grid-column binding="currentdate" caption="Currentdate" generator="assigned" pcdisplay="true" mobiledisplay="true" type="date"></wm-grid-column>
                </wm-grid>
                <wm-liveform novalidate="false" title="currentproperties Info" formlayout="inline" dataset="bind:Variables.ReplicateissueCurrentpropertiesData.dataSet" captionalign="left" captionposition="top" name="liveform3">
                    <wm-layoutgrid name="layoutgrid6">
                        <wm-gridrow name="gridrow18">
                            <wm-gridcolumn columnwidth="6" show="hide" name="gridcolumn24">
                                <wm-form-field name="iduser" displayname="Iduser" required="true" show="false" generator="identity" primary-key="true" key="iduser" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" show="show" name="gridcolumn25">
                                <wm-form-field name="currentusername" displayname="Currentusername" required="false" show="true" generator="assigned" primary-key="false" key="currentusername" type="string" is-related="false" maxchars="255" pc-display="true"
                                mobile-display="true" widget="text"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" show="show" name="gridcolumn26">
                                <wm-form-field name="currenttime" displayname="Currenttime" required="false" show="true" generator="assigned" primary-key="false" key="currenttime" type="time" is-related="false" pc-display="true" mobile-display="true" widget="time"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow19">
                            <wm-gridcolumn columnwidth="6" show="show" name="gridcolumn27">
                                <wm-form-field name="currentuseridcol" displayname="Currentuseridcol" required="false" show="true" generator="assigned" primary-key="false" key="currentuseridcol" type="string" is-related="false" maxchars="255" pc-display="true"
                                mobile-display="true" widget="text"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" show="show" name="gridcolumn28">
                                <wm-form-field name="currentdate" displayname="Currentdate" required="false" show="true" generator="assigned" primary-key="false" key="currentdate" type="date" is-related="false" pc-display="true" mobile-display="true" widget="date"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow20">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn29"></wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                    <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livegrid>
        </wm-page-content>
        <wm-right-panel columnwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
    <wm-view class="dialog-view" name="view1" show="false">
        <wm-pagedialog name="pagedialog1" content="ParDiaVirtualChild"></wm-pagedialog>
    </wm-view>
</wm-page>