<wm-page data-ng-controller="LiveListWithGridPageController" pagetitle="Live List With Grid" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-livelist listclass="list-group" itemclass="list-group-item" template="true" dataset="bind:Variables.WMSTUDIOUserDetailsData.dataSet" navigation="Pager" name="livelist1" groupby="users.userName" selectionlimit="3" showrecordcount="true">
                <wm-listtemplate layout="inline" name="listtemplate1">
                    <wm-layoutgrid class="inline" name="layoutgrid1">
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn class="text-center col-xs-3" columnwidth="1" data-template-ctr="true" name="gridcolumn1">
                                <wm-picture width="24pt" height="24pt" name="Picture" shape="circle" picturesource="bind:Variables.WMSTUDIOUserDetailsData.dataSet.userPic" hint="bind:Variables.WMSTUDIOUserDetailsData.dataSet.userPic"></wm-picture>
                            </wm-gridcolumn>
                            <wm-gridcolumn class="col-xs-9" name="gridcolumn2">
                                <wm-gridcolumn columnwidth="2" data-template-ctr="true" class="col-xs-12" name="gridcolumn3">
                                    <wm-label name="Firstname" width="100%" caption="bind:Variables.WMSTUDIOUserDetailsData.dataSet['users.userName']"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="2" data-template-ctr="true" class="col-xs-12" name="gridcolumn4">
                                    <wm-label name="Lastname" width="100%" caption="bind:Variables.WMSTUDIOUserDetailsData.dataSet['users.password']"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="2" data-template-ctr="true" class="col-xs-12" name="gridcolumn5">
                                    <wm-label name="Department" width="100%" caption="bind:Variables.WMSTUDIOUserDetailsData.dataSet['users.userId']"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="2" data-template-ctr="true" class="col-xs-12" name="gridcolumn6">
                                    <wm-label name="Role" width="100%" caption="bind:Variables.WMSTUDIOUserDetailsData.dataSet['users.role']"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="1" data-template-ctr="true" class="col-xs-12" name="gridcolumn7">
                                    <wm-label name="Mobile" width="100%" caption="bind:Variables.WMSTUDIOUserDetailsData.dataSet.userDetaId"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="1" data-template-ctr="true" class="col-xs-12" name="gridcolumn8">
                                    <wm-label name="City" width="100%" caption="bind:Variables.WMSTUDIOUserDetailsData.dataSet.userAddr"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="1" data-template-ctr="true" class="col-xs-12" name="gridcolumn9">
                                    <wm-label name="State" width="100%" caption="State"></wm-label>
                                </wm-gridcolumn>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-listtemplate>
            </wm-livelist>
            <wm-grid readonlygrid="true" dataset="bind:Widgets.livelist1.selecteditem" navigation="Basic" name="grid1" radioselect="false" multiselect="true">
                <wm-grid-column binding="userDetaId" caption="User Deta Id" type="integer" width="px" primary-key="true" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                <wm-grid-column binding="userPic" caption="User Pic" type="blob" width="px" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true"><a ng-if="columnValue != null" class="col-md-9" target="_blank" data-ng-href="{{contentBaseUrl + row[primaryKey] + '/content/'+ colDef.field}}"><i class="wm-icon wm-icon24 wi wi-file"></i></a>
                </wm-grid-column>
                <wm-grid-column binding="userAddr" caption="User Addr" type="clob" width="px" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                <wm-grid-column binding="users.userId" caption="Users User Id" type="integer" width="px" primary-key="true" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                <wm-grid-column binding="users.userName" caption="Users User Name" type="string" width="px" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                <wm-grid-column binding="users.password" caption="Users Password" type="string" width="px" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                <wm-grid-column binding="users.role" caption="Users Role" type="character" width="px" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
            </wm-grid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>