<wm-partial data-ng-controller="ParpopCompKeysMulPageController" name="partial1">
    <wm-livegrid name="livegrid1" service="WMSTUDIO@CompKeysMul">
        <wm-livefilter title="Filter COMP KEYS MUL" dataset="bind:Variables.WMSTUDIOCompKeysMulData.dataSet" captionalign="left" captionposition="top" name="livefilter1">
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow1">
                    <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn1">
                        <wm-filter-field name="id" field="id" displayname="Id" widget="number" is-range="false" type="integer" is-primary-key="true" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn2">
                        <wm-filter-field name="datecol" field="datecol" displayname="Datecol" widget="datetime" is-range="false" type="datetime" is-primary-key="true" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow2">
                    <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn3">
                        <wm-filter-field name="stringcol" field="stringcol" displayname="Stringcol" widget="text" is-range="false" type="string" is-primary-key="true" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn4">
                        <wm-filter-field name="datetime" field="datetime" displayname="Datetime" widget="datetime" is-range="false" type="datetime" is-primary-key="true" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow3">
                    <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn5">
                        <wm-filter-field name="longcol" field="longcol" displayname="Longcol" widget="number" is-range="false" type="long" is-primary-key="true" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn6">
                        <wm-filter-field name="time" field="time" displayname="Time" widget="datetime" is-range="false" type="datetime" is-primary-key="true" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow4">
                    <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn7">
                        <wm-filter-field name="bigint" field="bigint" displayname="Bigint" widget="number" is-range="false" type="big_integer" is-primary-key="true" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn8">
                        <wm-filter-field name="timestamp" field="timestamp" displayname="Timestamp" widget="timestamp" is-range="false" type="timestamp" is-primary-key="true" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow5">
                    <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn9">
                        <wm-filter-field name="float_" field="float_" displayname="Float_" widget="number" is-range="false" type="float" is-primary-key="true" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn10">
                        <wm-filter-field name="textcol" field="textcol" displayname="Textcol" widget="text" is-range="false" type="clob" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-filter-action key="filter" class="btn-primary" iconclass="wi wi-filter-list" action="filter()" display-name="Filter" show="true" type="button"></wm-filter-action>
            <wm-filter-action key="clear" class="btn" iconclass="wi wi-cancel" action="clearFilter()" display-name="Clear" show="true" type="button"></wm-filter-action>
        </wm-livefilter>
        <wm-grid gridfirstrowselect="true" deleterow="true" updaterow="true" insertrow="true" readonlygrid="false" title="COMP KEYS MUL List" dataset="bind:Widgets.livefilter1.result" navigation="Basic" name="grid1">
            <wm-grid-column binding="id" caption="Id" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true"></wm-grid-column>
            <wm-grid-column binding="stringcol" caption="Stringcol" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" primary-key="true"></wm-grid-column>
            <wm-grid-column binding="longcol" caption="Longcol" generator="assigned" pcdisplay="true" mobiledisplay="true" type="long" primary-key="true"></wm-grid-column>
            <wm-grid-column binding="bigint" caption="Bigint" generator="assigned" pcdisplay="true" mobiledisplay="true" type="big_integer" primary-key="true"></wm-grid-column>
            <wm-grid-column binding="float_" caption="Float_" generator="assigned" pcdisplay="true" mobiledisplay="true" type="float" primary-key="true"></wm-grid-column>
            <wm-grid-column binding="double_" caption="Double_" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double" primary-key="true"></wm-grid-column>
            <wm-grid-column binding="bigdeci" caption="Bigdeci" generator="assigned" pcdisplay="true" mobiledisplay="true" type="big_decimal" primary-key="true"></wm-grid-column>
            <wm-grid-column binding="byte_" caption="Byte_" generator="assigned" pcdisplay="true" mobiledisplay="true" type="byte" primary-key="true"></wm-grid-column>
            <wm-grid-column binding="shortcol" caption="Shortcol" generator="assigned" pcdisplay="true" mobiledisplay="true" type="short" primary-key="true"></wm-grid-column>
            <wm-grid-column binding="datecol" caption="Datecol" generator="assigned" pcdisplay="true" mobiledisplay="true" type="datetime" primary-key="true"></wm-grid-column>
        </wm-grid>
        <wm-liveform novalidate="false" title="COMP KEYS MUL Info" formlayout="inline" dataset="bind:Variables.WMSTUDIOCompKeysMulData.dataSet" captionalign="left" captionposition="top" name="liveform1">
            <wm-layoutgrid name="layoutgrid2">
                <wm-gridrow name="gridrow6">
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn11">
                        <wm-form-field name="id" displayname="Id" required="true" show="true" generator="assigned" primary-key="true" key="id" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn12">
                        <wm-form-field name="stringcol" displayname="Stringcol" required="true" show="true" generator="assigned" primary-key="true" key="stringcol" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn13">
                        <wm-form-field name="longcol" displayname="Longcol" required="true" show="true" generator="assigned" primary-key="true" key="longcol" type="long" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn14">
                        <wm-form-field name="bigint" displayname="Bigint" required="true" show="true" generator="assigned" primary-key="true" key="bigint" type="big_integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn15">
                        <wm-form-field name="float_" displayname="Float_" required="true" show="true" generator="assigned" primary-key="true" key="float_" type="float" is-related="false" step="0.0001" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn16">
                        <wm-form-field name="double_" displayname="Double_" required="true" show="true" generator="assigned" primary-key="true" key="double_" type="double" is-related="false" step="1e-8" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn17">
                        <wm-form-field name="bigdeci" displayname="Bigdeci" required="true" show="true" generator="assigned" primary-key="true" key="bigdeci" type="big_decimal" is-related="false" step="1e-17" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn18">
                        <wm-form-field name="byte_" displayname="Byte_" required="true" show="true" generator="assigned" primary-key="true" key="byte_" type="byte" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn19">
                        <wm-form-field name="shortcol" displayname="Shortcol" required="true" show="true" generator="assigned" primary-key="true" key="shortcol" type="short" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn20">
                        <wm-form-field name="datecol" displayname="Datecol" required="true" show="true" generator="assigned" primary-key="true" key="datecol" type="datetime" is-related="false" pc-display="true" mobile-display="true" widget="datetime"></wm-form-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn21">
                        <wm-form-field name="datetime" displayname="Datetime" required="true" show="true" generator="assigned" primary-key="true" key="datetime" type="datetime" is-related="false" pc-display="true" mobile-display="true" widget="datetime"></wm-form-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn22">
                        <wm-form-field name="time" displayname="Time" required="true" show="true" generator="assigned" primary-key="true" key="time" type="datetime" is-related="false" pc-display="true" mobile-display="true" widget="datetime"></wm-form-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn23">
                        <wm-form-field name="timestamp" displayname="Timestamp" required="true" show="true" generator="assigned" primary-key="true" key="timestamp" type="timestamp" is-related="false" pc-display="true" mobile-display="true" widget="timestamp"></wm-form-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn24">
                        <wm-form-field name="textcol" displayname="Textcol" required="false" show="true" generator="assigned" primary-key="false" key="textcol" type="clob" is-related="false" maxchars="2147483647" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow7">
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn25">
                        <wm-form-field name="clobcol" displayname="Clobcol" required="false" show="true" generator="assigned" primary-key="false" key="clobcol" type="clob" is-related="false" maxchars="2147483647" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow8">
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn26">
                        <wm-form-field name="boolean_" displayname="Boolean_" required="false" show="true" generator="assigned" primary-key="false" key="boolean_" type="character" is-related="false" maxchars="1" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow9">
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn27">
                        <wm-form-field name="blob" displayname="Blob" required="false" show="true" generator="assigned" primary-key="false" key="blob" type="blob" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="upload"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow10">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn28"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow11">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn29"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow12">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn30"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow13">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn31"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow14">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn32"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow15">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn33"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow16">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn34"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow17">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn35"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow18">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn36"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow19">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn37"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow20">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn38"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow21">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn39"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow22"></wm-gridrow>
            </wm-layoutgrid>
            <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
            <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
        </wm-liveform>
    </wm-livegrid>
</wm-partial>