<wm-page data-ng-controller="salaryDetailsPageController" pagetitle="Salary Details" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-livegrid name="livegrid1" service="WMSTUDIO@SalaryDetails">
                <wm-livefilter title="Filter SALARY DETAILS" dataset="bind:Variables.WMSTUDIOSalaryDetailsData.dataSet" captionalign="left" captionposition="top" name="livefilter1">
                    <wm-layoutgrid name="layoutgrid1">
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn1">
                                <wm-filter-field name="userDetails" field="userDetails" displayname="User Details" widget="number" lookup-type="UserDetails" lookup-field="userDetaId" is-related="true" related-entity-name="UserDetails" is-range="false" type="integer"
                                is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true" inputtype="number" primary-key="false" key="userDetails" placeholder="Enter value"></wm-filter-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn2">
                                <wm-filter-field name="userSal" field="userSal" displayname="User Sal" widget="number" is-range="false" type="big_decimal" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true" inputtype="number"
                                primary-key="false" is-related="false" key="userSal" placeholder="Enter value"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow2">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn3">
                                <wm-filter-field name="users" field="users" displayname="Users" widget="number" lookup-type="Users" lookup-field="userId" is-related="true" related-entity-name="Users" is-range="false" type="integer" is-primary-key="false"
                                generator="assigned" show="true" pc-display="true" mobile-display="true" inputtype="number" primary-key="false" key="users" placeholder="Enter value"></wm-filter-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn4">
                                <wm-filter-field name="isEmployee" field="isEmployee" displayname="Is Employee" widget="checkbox" is-range="false" type="character" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"
                                inputtype="text" primary-key="false" is-related="false" key="isEmployee" placeholder="Enter value"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow3">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn5">
                                <wm-filter-field name="salId" field="salId" displayname="Sal Id" widget="text" is-range="false" type="string" is-primary-key="true" generator="assigned" show="true" pc-display="true" mobile-display="true" inputtype="text" primary-key="false"
                                is-related="false" key="salId" placeholder="Enter value" matchmode="start"></wm-filter-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn6">
                                <wm-filter-field name="noOfWorkingDays" field="noOfWorkingDays" displayname="No Of Working Days" widget="number" is-range="false" type="big_integer" is-primary-key="false" generator="assigned" show="true" pc-display="true"
                                mobile-display="true" inputtype="number" primary-key="false" is-related="false" key="noOfWorkingDays" placeholder="Enter value"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-filter-action key="filter" display-name="Filter" show="true" class="btn-primary" iconclass="wi wi-filter-list" action="filter()" type="button"></wm-filter-action>
                    <wm-filter-action key="clear" display-name="Clear" show="true" class="btn" iconclass="wi wi-cancel" action="clearFilter()" type="button"></wm-filter-action>
                </wm-livefilter>
                <wm-grid gridfirstrowselect="true" deleterow="true" updaterow="true" insertrow="true" readonlygrid="false" title="SALARY DETAILS List" dataset="bind:Widgets.livefilter1.result" navigation="Basic" name="grid1">
                    <wm-grid-column binding="salId" caption="Sal Id" type="string" width="px" primary-key="true" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="userSal" caption="User Sal" type="big_decimal" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="isEmployee" caption="Is Employee" type="boolean" widget-type="checkbox" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false">
                        <input type="checkbox" ng-model="row.isEmployee" ng-disabled="{{colDef.readonly || !isGridEditMode}}" class="" data-ng-class="">
                    </wm-grid-column>
                    <wm-grid-column binding="noOfWorkingDays" caption="No Of Working Days" type="big_integer" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="userDetails.userDetaId" caption="User Details User Deta Id" type="integer" width="px" primary-key="true" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="userDetails.userPic" caption="User Details User Pic" type="blob" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"><a ng-if="columnValue != null" class="col-md-9" target="_blank" data-ng-href="{{contentBaseUrl + row[primaryKey] + '/content/'+ colDef.field}}"><i class="wm-icon wm-icon24 wi wi-file"></i></a>
                    </wm-grid-column>
                    <wm-grid-column binding="userDetails.userAddr" caption="User Details User Addr" type="clob" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="users.userId" caption="Users User Id" type="integer" width="px" primary-key="true" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="users.userName" caption="Users User Name" type="string" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="users.password" caption="Users Password" type="string" width="px" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column>
                    <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" action="addNewRow()"></wm-grid-action>
                </wm-grid>
                <wm-liveform novalidate="false" title="SALARY DETAILS Info" formlayout="inline" dataset="bind:Variables.WMSTUDIOSalaryDetailsData.dataSet" captionalign="left" captionposition="top" name="liveform1">
                    <wm-layoutgrid name="layoutgrid2">
                        <wm-gridrow name="gridrow4">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                                <wm-form-field name="salId" displayname="Sal Id" show="true" primary-key="true" generator="assigned" key="salId" type="string" is-related="false" required="required" pc-display="true" mobile-display="true" widget="text" maxchars="255"
                                inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                                <wm-form-field name="userSal" displayname="User Sal" show="true" primary-key="false" generator="assigned" key="userSal" type="big_decimal" is-related="false" pc-display="true" mobile-display="true" step="1e-16" widget="number"
                                inputtype="number" regexp=".*" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow5">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn9">
                                <wm-form-field name="isEmployee" displayname="Is Employee" show="true" primary-key="false" generator="assigned" key="isEmployee" type="boolean" is-related="false" pc-display="true" mobile-display="true" widget="checkbox" maxchars="1"
                                regexp=".*" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow6">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn10">
                                <wm-form-field name="noOfWorkingDays" displayname="No Of Working Days" show="true" primary-key="false" generator="assigned" key="noOfWorkingDays" type="big_integer" is-related="false" pc-display="true" mobile-display="true"
                                step="0" widget="number" inputtype="number" regexp=".*" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow7">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn11">
                                <wm-form-field name="userDetails" displayname="User Details" show="true" primary-key="false" generator="assigned" key="userDetails" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select" regexp=".*"
                                placeholder="Select value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow8">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn12">
                                <wm-form-field name="users" displayname="Users" show="true" primary-key="false" generator="assigned" key="users" type="list" is-related="true" required="required" pc-display="true" mobile-display="true" widget="select" regexp=".*"
                                placeholder="Select value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" type="button" update-mode="true"></wm-form-action>
                    <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" type="submit" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livegrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>