<wm-partial data-ng-controller="PopoverVirtualParentPageController" type="popover" name="partial1">
    <wm-livegrid name="livegrid2" service="WMSTUDIO@VirtualParent">
        <wm-livefilter title="Filter VIRTUAL PARENT" dataset="bind:Variables.WMSTUDIOVirtualParentData.dataSet" captionalign="left" captionposition="top" name="livefilter2">
            <wm-layoutgrid name="layoutgrid3">
                <wm-gridrow name="gridrow6">
                    <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn7">
                        <wm-filter-field name="id" field="id" displayname="Id" widget="number" is-range="false" type="integer" is-primary-key="true" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn8">
                        <wm-filter-field name="column3" field="column3" displayname="Column3" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow7">
                    <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn9">
                        <wm-filter-field name="testcol" field="testcol" displayname="Testcol" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-filter-action key="filter" class="btn-primary" iconclass="wi wi-filter-list" action="filter()" display-name="Filter" show="true" type="button"></wm-filter-action>
            <wm-filter-action key="clear" class="btn" iconclass="wi wi-cancel" action="clearFilter()" display-name="Clear" show="true" type="button"></wm-filter-action>
        </wm-livefilter>
        <wm-grid gridfirstrowselect="true" deleterow="true" updaterow="true" insertrow="true" readonlygrid="false" title="VIRTUAL PARENT List" dataset="bind:Widgets.livefilter2.result" navigation="Basic" name="grid2">
            <wm-grid-column binding="id" caption="Id" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true"></wm-grid-column>
            <wm-grid-column binding="testcol" caption="Testcol" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
            <wm-grid-column binding="column3" caption="Column3" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
        </wm-grid>
        <wm-liveform novalidate="false" title="VIRTUAL PARENT Info" formlayout="inline" dataset="bind:Variables.WMSTUDIOVirtualParentData.dataSet" captionalign="left" captionposition="top" name="liveform2">
            <wm-layoutgrid name="layoutgrid4">
                <wm-gridrow name="gridrow8">
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn10">
                        <wm-form-field name="id" displayname="Id" required="true" show="true" generator="assigned" primary-key="true" key="id" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn11">
                        <wm-form-field name="testcol" displayname="Testcol" required="false" show="true" generator="assigned" primary-key="false" key="testcol" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow9">
                    <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn12">
                        <wm-form-field name="column3" displayname="Column3" required="false" show="true" generator="assigned" primary-key="false" key="column3" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow10"></wm-gridrow>
            </wm-layoutgrid>
            <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
            <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
        </wm-liveform>
    </wm-livegrid>
</wm-partial>