<wm-page data-ng-controller="alltypesPageController" pagetitle="Alltypes" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-livegrid name="livegrid2" service="WMSTUDIO@AllTypes">
                <wm-livefilter title="Filter ALL TYPES" dataset="bind:Variables.WMSTUDIOAllTypesData.dataSet" captionalign="left" captionposition="top" name="livefilter2">
                    <wm-layoutgrid name="layoutgrid3">
                        <wm-gridrow name="gridrow24">
                            <wm-gridcolumn columnwidth="4" show="true" name="gridcolumn33">
                                <wm-filter-field name="id" field="id" displayname="Id" widget="number" is-range="false" type="integer" is-primary-key="true" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" show="true" name="gridcolumn34">
                                <wm-filter-field name="floatCol" field="floatCol" displayname="Float Col" widget="number" is-range="false" type="float" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" show="true" name="gridcolumn35">
                                <wm-filter-field name="timeCol" field="timeCol" displayname="Time Col" placeholder="Enter Value" widget="datetime" is-range="true" type="datetime" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow25">
                            <wm-gridcolumn columnwidth="4" show="true" name="gridcolumn36">
                                <wm-filter-field name="stringCol" field="stringCol" displayname="String Col" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" show="true" name="gridcolumn37">
                                <wm-filter-field name="doubleCol" field="doubleCol" displayname="Double Col" widget="number" is-range="false" type="double" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" show="true" name="gridcolumn38">
                                <wm-filter-field name="booleanCol" field="booleanCol" displayname="Boolean Col" widget="checkbox" is-range="false" type="boolean" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow26">
                            <wm-gridcolumn columnwidth="4" show="true" name="gridcolumn39">
                                <wm-filter-field name="longCol" field="longCol" displayname="Long Col" widget="number" is-range="false" type="long" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" show="true" name="gridcolumn40">
                                <wm-filter-field name="byteCol" field="byteCol" displayname="Byte Col" widget="number" is-range="false" type="byte" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" show="true" name="gridcolumn41">
                                <wm-filter-field name="timestampCol" field="timestampCol" displayname="Timestamp Col" placeholder="Enter Value" widget="timestamp" is-range="true" type="timestamp" is-primary-key="false" generator="assigned" show="true" pc-display="true"
                                mobile-display="true"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow27">
                            <wm-gridcolumn columnwidth="4" show="true" name="gridcolumn42">
                                <wm-filter-field name="shortCol" field="shortCol" displayname="Short Col" widget="number" is-range="false" type="short" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" show="true" name="gridcolumn43">
                                <wm-filter-field name="datetimeCol" field="datetimeCol" displayname="Datetime Col" placeholder="Enter Value" widget="datetime" is-range="true" type="datetime" is-primary-key="false" generator="assigned" show="true" pc-display="true"
                                mobile-display="true"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow28">
                            <wm-gridcolumn columnwidth="4" show="true" name="gridcolumn44">
                                <wm-filter-field name="bigInteger" field="bigInteger" displayname="Big Integer" widget="number" is-range="false" type="big_integer" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow29">
                            <wm-gridcolumn columnwidth="4" show="true" name="gridcolumn45">
                                <wm-filter-field name="bigDecimal" field="bigDecimal" displayname="Big Decimal" widget="number" is-range="false" type="big_decimal" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-filter-action key="filter" class="btn-primary" iconclass="wi wi-filter-list" action="filter()" display-name="Filter" show="true" type="button"></wm-filter-action>
                    <wm-filter-action key="clear" class="btn" iconclass="wi wi-cancel" action="clearFilter()" display-name="Clear" show="true" type="button"></wm-filter-action>
                </wm-livefilter>
                <wm-grid gridfirstrowselect="true" deleterow="true" updaterow="true" insertrow="true" readonlygrid="false" title="ALL TYPES List" dataset="bind:Widgets.livefilter2.result" navigation="Basic" name="grid2">
                    <wm-grid-column binding="id" caption="Id" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true"></wm-grid-column>
                    <wm-grid-column binding="stringCol" caption="String Col" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                    <wm-grid-column binding="longCol" caption="Long Col" generator="assigned" pcdisplay="true" mobiledisplay="true" type="long"></wm-grid-column>
                    <wm-grid-column binding="shortCol" caption="Short Col" generator="assigned" pcdisplay="true" mobiledisplay="true" type="short"></wm-grid-column>
                    <wm-grid-column binding="bigInteger" caption="Big Integer" generator="assigned" pcdisplay="true" mobiledisplay="true" type="big_integer"></wm-grid-column>
                    <wm-grid-column binding="bigDecimal" caption="Big Decimal" generator="assigned" pcdisplay="true" mobiledisplay="true" type="big_decimal"></wm-grid-column>
                    <wm-grid-column binding="floatCol" caption="Float Col" generator="assigned" pcdisplay="true" mobiledisplay="true" type="float"></wm-grid-column>
                    <wm-grid-column binding="doubleCol" caption="Double Col" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double"></wm-grid-column>
                    <wm-grid-column binding="byteCol" caption="Byte Col" generator="assigned" pcdisplay="true" mobiledisplay="true" type="byte"></wm-grid-column>
                    <wm-grid-column binding="clobCol" caption="Clob Col" generator="assigned" pcdisplay="true" mobiledisplay="true" type="clob"></wm-grid-column>
                </wm-grid>
                <wm-liveform novalidate="false" title="ALL TYPES Info" formlayout="inline" dataset="bind:Variables.WMSTUDIOAllTypesData.dataSet" captionalign="left" captionposition="top" name="liveform2">
                    <wm-layoutgrid name="layoutgrid4">
                        <wm-gridrow name="gridrow30">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn46">
                                <wm-form-field name="id" displayname="Id" required="true" show="true" generator="assigned" primary-key="true" key="id" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn47">
                                <wm-form-field name="stringCol" displayname="String Col" required="false" show="true" generator="assigned" primary-key="false" key="stringCol" type="string" is-related="false" maxchars="255" defaultvalue="testing" pc-display="true"
                                mobile-display="true" widget="text"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow31">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn48">
                                <wm-form-field name="longCol" displayname="Long Col" required="false" show="true" generator="assigned" primary-key="false" key="longCol" type="long" is-related="false" defaultvalue="123456789012345680" step="0" pc-display="true"
                                mobile-display="true" widget="number"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow32">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn49">
                                <wm-form-field name="shortCol" displayname="Short Col" required="false" show="true" generator="assigned" primary-key="false" key="shortCol" type="short" is-related="false" defaultvalue="1234" step="0" pc-display="true" mobile-display="true"
                                widget="number"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow33">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn50">
                                <wm-form-field name="bigInteger" displayname="Big Integer" required="false" show="true" generator="assigned" primary-key="false" key="bigInteger" type="big_integer" is-related="false" defaultvalue="1.2345678901234568e+25" step="0"
                                pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow34">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn51">
                                <wm-form-field name="bigDecimal" displayname="Big Decimal" required="false" show="true" generator="assigned" primary-key="false" key="bigDecimal" type="big_decimal" is-related="false" defaultvalue="1234567891.1234567" step="1e-19"
                                pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow35">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn52">
                                <wm-form-field name="floatCol" displayname="Float Col" required="false" show="true" generator="assigned" primary-key="false" key="floatCol" type="float" is-related="false" defaultvalue="123.1234" step="0.0001" pc-display="true"
                                mobile-display="true" widget="number"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow36">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn53">
                                <wm-form-field name="doubleCol" displayname="Double Col" required="false" show="true" generator="assigned" primary-key="false" key="doubleCol" type="double" is-related="false" defaultvalue="123456789.123456" step="0.000001"
                                pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow37">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn54">
                                <wm-form-field name="byteCol" displayname="Byte Col" required="false" show="true" generator="assigned" primary-key="false" key="byteCol" type="byte" is-related="false" defaultvalue="45" step="0" pc-display="true" mobile-display="true"
                                widget="number"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow38">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn55">
                                <wm-form-field name="clobCol" displayname="Clob Col" required="false" show="true" generator="assigned" primary-key="false" key="clobCol" type="clob" is-related="false" maxchars="2147483647" pc-display="true" mobile-display="true"
                                widget="text"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow39">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn56">
                                <wm-form-field name="textCol" displayname="Text Col" required="false" show="true" generator="assigned" primary-key="false" key="textCol" type="clob" is-related="false" maxchars="2147483647" pc-display="true" mobile-display="true"
                                widget="text"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow40">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn57">
                                <wm-form-field name="datetimeCol" displayname="Datetime Col" required="false" show="true" generator="assigned" primary-key="false" key="datetimeCol" type="datetime" is-related="false" pc-display="true" mobile-display="true"
                                widget="datetime"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow41">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn58">
                                <wm-form-field name="timeCol" displayname="Time Col" required="false" show="true" generator="assigned" primary-key="false" key="timeCol" type="datetime" is-related="false" pc-display="true" mobile-display="true" widget="datetime"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow42">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn59">
                                <wm-form-field name="blobCol" displayname="Blob Col" required="false" show="true" generator="assigned" primary-key="false" key="blobCol" type="blob" is-related="false" maxchars="255" pc-display="true" mobile-display="true"
                                widget="upload"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow43">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn60">
                                <wm-form-field name="booleanCol" displayname="Boolean Col" required="false" show="true" generator="assigned" primary-key="false" key="booleanCol" type="boolean" is-related="false" pc-display="true" mobile-display="true" widget="checkbox"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow44">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn61">
                                <wm-form-field name="timestampCol" displayname="Timestamp Col" required="false" show="true" generator="assigned" primary-key="false" key="timestampCol" type="timestamp" is-related="false" pc-display="true" mobile-display="true"
                                widget="timestamp"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow45"></wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                    <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livegrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>